*{
    text-align: center;
    padding: 20px;
    background-color: rgb(191, 209, 243);

}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(99, 196, 235);
    padding: 12px;
    
}
#username{
    border-color: darkblue;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 30vh;
    height: 2vh;
}
#password{
    border-color: darkblue;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 30vh;
    height: 2vh;
    
}
#submit{
    border-color: darkblue;
    border-radius: 5px;
    width: 20vh;
    height: 2vh;
    transition-duration: 0.4s;
}
#submit:hover {
    background-color: darkblue;
    color: rgb(202, 214, 238);
  }